@font-face {
    font-family: 'GoogleSans';
    src: url('fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}

.Container {
    background: #000000;
    font-family: 'GoogleSans', sans-serif;
    transition: opacity 0.4s;
    align-items: center; /* Ensures horizontal alignment is centered */
    min-height: 100vh; /* Takes at least the full height of the viewport */
    margin: 0px ; /* Centering horizontally within any parent */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Ensures vertical alignment is centered */
    color: #EEEEEE;

}

.cam-buttons {
    display: flex;
    width: 100%;
}

.text-buttons {
    display: none;
    width: 100%;
}

button {
    font-size: 16px;
    flex: 50%;
    padding: 24px;
    border: none;
    background-color: rgb(0, 104, 226);
    color: #EEEEEE;
    border-radius: 24px;
    cursor: pointer;
    display: block; /* Make button block to apply margin auto for centering */
    margin-left: auto;
    margin-right: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} /* <span class="material-symbols-outlined">
photo_camera </span> */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*<span class="material-symbols-outlined">
perm_camera_mic</span>*/


img {
    margin: 12px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    display: block; /* Ensure the image behaves like a block element */
}

.App {
    display: flex;
    align-items: center; /* Ensures all content is aligned centrally on the cross-axis */
    width: 100vw; /* Adjust width to 100% of the viewport width */
    justify-content: center; /* Ensures all content is justified centrally on the main axis */
    background-color: #262b36; /* Background color */
    min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
}
